<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>House</title>


  </head>
  <body>
      <p id="demo"></p>
    <script>
      const jsonfil = JSON.parse({{glissades|tojson}});
      console.log(jsonfil);
      jsonfile = JSON.stringify(jsonfil);
      console.log(jsonfile);
      //document.querySelector(".demo").innerHTML = JSON.stringify(jsonfile, null, 2);



      
            

    </script>
  </body>
</html>