{% extends "default.html" %}
{% block content %}
<style>
  body{
    background-color: rgb(255, 241, 195);
  }
  h1{
    text-align:center;
    color: rgb(0, 20, 75);}
  h3{
    color: rgb(0, 20, 75);}
 </style>

  <h1 class ="title" align = "center">Félicitations ! Votre compte a été créé.</h1>
  <p><a class = "btn btn-primary" href="/">Retour à la page d'accueil</a></p>
  <br><br><br><br><br>
  <p><a class = "btn btn-primary" href="/api/installations/{{arrondissement}}">Voir les installations de mon arrondissement</a></p>

{% endblock %}
