{% extends "default.html" %}
{% block content %}     
  <p><a href="/inscription">Cliquez ici pour créer un compte</a></p>
  {% if username %}
    <p>Vous êtes connecté en tant que {{ username }}.</p>
    <p><a href="/logout">Se déconnecter</a></p>
  {% else %}
    <p>Vous n'êtes pas connecté.</p><br><br>
    <form class="form-group" action="/login" method="POST">
      <label for="champ_username"><p>Nom d'utilisateur</p></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" id="champ_username" name="username" maxlength="20">
      <br><br><br><br>
      <label for="champ_password"><p>Mot de passe</p></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="password" id="champ_password" name="password" maxlength="40">
      <br><br><br><br>
      <input class="btn btn-primary" type="submit" value="Se connecter">
      
    </form>
  {% endif %}
{% endblock %}      
