<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="Lyna Hamza" content="INF5190_projet_de_session">
    <title>Montréal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/somescript.js') }}">
    <link href = "style.css" rel = "stylesheet">
</head>

<div align = "center">
  <br><br>
<h1>Je m'informe sur Montréal ! </h1>

<style>
  body{
    background-color: rgb(255, 241, 195);
  }
  h1{
    text-align:center;
    color: rgb(0, 20, 75);}
  h3{
    color: rgb(0, 20, 75);}
    
  p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 </style>
 
<body>
{% block content %}

{% endblock %}
</body>
</html>