<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="Lyna Hamza" content="INF5190_projet_de_session">
    <title>Montréal</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='js/somescript.js') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    
  </head>

<div align = "center">
  <br><br>
<h1>Je m'informe sur Montréal ! </h1>

 
<body>
{% block content %}
{% endblock %}
</body>
</html>