<!DOCTYPE html>
<html>
<body>

<h2>Les installations disponibles pour l'arrondissement :  {{nom_arrondissement}}.</h2>

<select id="myselect" onchange="change_myselect(this.value)">
  <option value="">Choose an option:</option>
  <option value="Aquatiques">Aquatiques</option>
  <option value="Glissades">Glissades</option>
  <option value="Patinoires">Patinoires</option>
</select>

<p id="demo"></p>

<script>
function change_myselect(sel) {
  const dbParam = JSON.stringify({table:sel,limit:100});
  const xmlhttp = new XMLHttpRequest();
  var a;
  var i ;
  xmlhttp.onload = function() {
    if(sel == "Aquatiques")  {
      a = {{installations_aquatiques | tojson }}  ;
      i = 3;
    }

    if(sel == "Glissades")  {
      a = {{installations_glissades | tojson }};
      i = 1;
    }

    if(sel == "Patinoires")  {
      a = {{installations_patinoires | tojson }};
      i = 0;
    }
    myObj = JSON.parse(a);
    text = "<table border='1'>"
    for (x in myObj) {
      text += "<tr><td>" + myObj[x][i] + "</td></tr>";
    }
    text += "</table>"    
    document.getElementById("demo").innerHTML = text;
  }
  xmlhttp.open("POST", "json_demo_html_table.php", true);
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.send("x=" + dbParam);
}
</script>

</body>
</html>